* {
  background: #F8F0DB;
  font-family: 'Marvel', sans-serif;
  text-align: center;
}

body {

}

h1 {
  font-size: 60px;
  opacity: 0.4;
  margin: -20px 0 -20px 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 50px;
}

#gameboard {
  float: left;
  margin-top: -20px;
}

.grid {
  display: inline-block;
  margin-top: -25px;
  margin-right: -5px;
  border: 1px solid black;
  vertical-align: top;
  font-size: 80px;
}

#playerX {
  display: inline-block;
  font-size: 20px;
  height: 140px;
  width: 450px;
  border: 1px solid black;
  margin-top: -40px;
  margin-right: 320px;
  margin-bottom: 10px;
  border: 1px solid black;
}

#playerO {
  display: inline-block;
  font-size: 20px;
  height: 140px;
  width: 450px;
  margin-top: -5px;
  margin-right: 320px;
  border: 1px solid black;
}

#zero {
  height: 150px;
  width: 150px;
  padding: 0;
}

#one {
  height: 150px;
  width: 150px;
  padding: 0;
}

#two {
  height: 150px;
  width: 150px;
  padding: 0;
}

#three {
  height: 150px;
  width: 150px;
  padding: 0;
}

#four {
  height: 150px;
  width: 150px;
  padding: 0;
}

#five {
  height: 150px;
  width: 150px;
  padding: 0;
}

#six {
  height: 150px;
  width: 150px;
  padding: 0;
}

#seven {
  height: 150px;
  width: 150px;
  padding: 0;
}

#eight {
  height: 150px;
  width: 150px;
  padding: 0;
}
